@import "tailwindcss";
html{
    scroll-behavior: smooth;
}
:root{
    --primary-color:rgb(1, 1, 63);
    --secondary-color:white;
    --tertiary-color:white;
    --icon-color:rgb(216, 206, 206);
    --nav-color:rgb(43, 191, 241);
    --nav-hover:rgb(78, 121, 238);
    --button-color:rgb(245, 44, 77);
    --button-hover:rgb(194, 18, 47);
    --shadow-color:rgb(134, 224, 244);
    --border:rgb(104, 187, 238);
    --heading:rgb(245, 44, 77);
}
.light{
    --primary-color:white;
    --secondary-color:black;
    --tertiary-color:rgb(23, 23, 23);
    --icon-color:rgb(216, 206, 206);
    --nav-color:rgb(1, 1, 63);
    --nav-hover:rgb(78, 121, 238);
    --button-color:rgb(71, 70, 70);
    --button-hover:rgb(60, 57, 57);
    --shadow-color:rgb(78, 121, 238);
    --border:rgb(104, 187, 238);
    --heading:rgb(245, 44, 77);
    
}


@layer base {
    body{
        background-color:rgb(1, 1, 63);
    }
}
.slick-slide > div{
    margin: 0 10px;
}
